@model List<WSAD_FinalProject.Areas.Admin.Models.ViewModels.ManageSession.ManageSessionViewModel>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/script.js")"></script>
}

@{
    ViewBag.Title = "Index";
}

<h2>List of Sessions</h2>

@using (Html.BeginForm("Delete", "ManageSessions"))
{
    
<table class="table">
    <tr>
        <th>&nbsp;</th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Presenter
        </th>
        <th>
            Address
        </th>
        <th>
            Room
        </th>
        <th>
            Seats 
        </th>
        <th>
            Actions
        </th>
    </tr>

@for (int i=0; i<Model.Count; i++)
{
    var item = Model[i];

    <tr>
        <td>
            @Html.HiddenFor(x=> Model[i].SessionId)
            @Html.CheckBoxFor(x=> Model[i].isSelected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionPresenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionSeatsAvailable)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SessionId }) |
            @Html.ActionLink("Details", "SessionProfile", new {id = item.SessionId}) |
            @Html.ActionLink("View Enrolled Users", "GetEnrolledUsers", new {id = item.SessionId})

        </td>
    </tr>
}
</table>
    <button type="button" name="Admin" class="btn btn-default">@Html.ActionLink("Add Session", "CreateSession", "ManageSessions")</button>
    <button id="postBack" type="submit" class="btn btn-danger">Delete Sessions</button>
}

